<style>
	input.ng-invalid.ng-touched {
		border: 2px solid red;		
	}
	input.ng-valid {
		border: 2px solid green;		
	}
	
</style>
<form novalidate name="widgetForm">
<div fmr-alert="messages" 
	fmr-alert-title="Validation Messages" 
	fmr-alert-show="showAlert">
</div>
<div ng-show="widgetForm.$invalid">
	<ul>
		<li ng-show="widgetForm.widgetName.$invalid && widgetForm.widgetName.$touched">Please enter a name</li>
		<li ng-show="widgetForm.widgetDesc.$invalid && widgetForm.widgetDesc.$touched">Please enter a description</li>
		<li ng-show="widgetForm.widgetColor.$invalid && widgetForm.widgetColor.$touched">Please enter a color</li>
		<li ng-show="widgetForm.widgetSize.$invalid && widgetForm.widgetSize.$touched">Please enter a size</li>
		<li ng-show="widgetForm.widgetQuant.$invalid && widgetForm.widgetQuant.$touched">Please enter a quantity</li>
	</ul>
</div>
<div>
	<div><label>Name: <input ng-model="widget.name" name="widgetName" ng-attr-len=4 fmr-required></label> 
		<span ng-show="widgetForm.widgetName.$invalid && widgetForm.widgetName.$touched">Please enter a name, it is required.</span>
	</div>
	<div><label>Description:
			<textarea ng-model="widget.description" name="widgetDesc" rows="5" cols="40" required></textarea> 
		</label> 
		<span ng-show="widgetForm.widgetDesc.$invalid && widgetForm.widgetDesc.$touched">Please enter a description, it is required.</span>
	</div>
	<div><label>Color: 
		<select ng-model="widget.color" name="widgetColor" ng-options="color.code as color.name group by color.category for color in colors">
			<option value="">Select One...</option>
		</select>
	</label>
		<span ng-show="widgetForm.widgetColor.$invalid && widgetForm.widgetColor.$touched">Please enter a color, it is required.</span>
	</div>
	<div>
		<fieldset>
			<legend>Size:</legend>
			<label>Small:
				<input name="widgetSize" ng-model="widget.size" type="radio" value="small">
			</label>
			<label>Medium:
				<input name="widgetSize" ng-model="widget.size" type="radio" value="medium">
			</label>
			<label>Large:
				<input name="widgetSize" ng-model="widget.size" type="radio" value="large">
			</label>			
		</fieldset>
	</div>
	<div><label>Quantity: <input ng-model="widget.quantity" name="widgetQuant" type="number" required></label>
		<span ng-show="widgetForm.widgetQuant.$invalid && widgetForm.widgetQuant.$touched">Please enter a quantity, it is required.</span>
	</div>
</div>
<button type="button" ng-click="saveWidget()" ng-disabled="widgetForm.$invalid">Save</button>
<button type="button" ng-click="deleteWidget()" ng-if="widget.id">Delete</button>
<button type="button" ui-sref="home">Return to List</button>
</form>
